/* Done by Prince Kumar (20UEE058) */

.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.meter-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.meter-card {
  background-color: #f3f3f3;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  font-size: 1.2rem;
  margin: 0;
}

p {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}


/* Notification.css */

/* Style for the container div */
.notification-container {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  /* padding: 20px; */
}

/* Style for the Data component */
.data-container {
  width: 60%;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  /* padding: 10px; */
  margin-bottom: 20px;
}

.notification-box{
  width: 40%;
  height: 100%;
  background-color: hsl(0, 0%, 95%);
  border: 1px solid #ccc;
  /* padding: 10px; */
  margin-bottom: 20px;
}

/* Style for the Notification heading */
.notification-heading {
  /* font-size: 24px; */
  font-size: 1.2rem;
  margin: 0;
  color: #333;
  margin-bottom: 10px;
}

/* Style for the notification message */
.notification-message {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}
