/* Done by Prince Kumar (20UEE058) */

.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.meter-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.meter-card {
  background-color: #f3f3f3;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  font-size: 1.2rem;
  margin: 0;
}

p {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}

/* Notification.css */

/* Style for the Data component */
.data-container {
  width: 100%;
  /* background-color: #f2f2f2; */
  /* border: 1px solid #ccc; */
  /* padding: 10px; */
  margin-bottom: 20px;
}

.notification-box {
  width: 100%;
  height: 100%;
  /* background-color: hsl(0, 0%, 95%); */
  /* border: 1px solid #ccc; */
  /* padding: 10px; */
  margin-bottom: 20px;
}

/* Style for the Notification heading */

/* Style for the notification message */

/* Media query for smaller screens */
@media (max-width: 768px) {
  .meter-container {
    flex-direction: column; /* Stack meters vertically on smaller screens */
  }

  .notification-container {
    flex-direction: column; /* Stack notifications vertically on smaller screens */
  }

  .meter-card,
  .data-container,
  .notification-box {
    width: 100%; /* Full width on smaller screens */
  }
}
