/* Created by Prince Kumar (20UEE058) */
.navbar {
  background-color: #8b8989;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  box-shadow: 0 0 3px 1px #8b8989;
  text-decoration: none;
}
