@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");
.home {
  background-image: url("../wall.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.home__heading {
  height: 10%;
  color: rgb(68, 68, 78);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home__heading > h1 {
  margin: 0.1rem;
  padding: 0.1rem;
}
.home > img {
  height: 90%;
}
.home__display--on {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 9rem;
  left: 33%;
  text-align: center;
  overflow: hidden;
  box-shadow: rgb(0, 0, 0) 0px 0px 5px 5px;
  border: 5px solid black;
}
.home__display--off {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 9rem;
  left: 33%;
  text-align: center;
  overflow: hidden;
  box-shadow: rgb(0, 0, 0) 0px 0px 5px 5px;
  border: 5px solid black;
}
.home__display--on > h6 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: greenyellow;
  height: 5rem;
  width: 24rem;
  font-size: 50px;
  font-family: "DotGothic16";
  box-shadow: rgb(250, 250, 250) 0px 0px 10px 1px inset;
}
.home__display--off > h6 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(106, 118, 87);
  height: 5rem;
  width: 24rem;
  font-size: 50px;
  font-family: "DotGothic16";
  box-shadow: rgb(250, 250, 250) 0px 0px 10px 1px inset;
}
.home__indicator {
  position: absolute;
  top: 18rem;
  left: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home__indicator__1--off {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home__indicator__1--on {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  border: 2px solid red;
  background-color: red;
  border-radius: 100%;
  animation: power--on--web 0.0001s infinite;
}
@keyframes power--on--web {
  0% {
    height: 15px;
    width: 15px;
    border: 2px solid rgb(250, 132, 132);
    background-color: rgb(250, 132, 132);
  }
  25% {
    height: 17px;
    width: 17px;
    border: 2px solid rgb(250, 187, 187);
    background-color: rgb(250, 187, 187);
  }
  50% {
    height: 19px;
    width: 19px;
    border: 2px solid rgb(247, 220, 220);
    background-color: rgb(247, 220, 220);
  }
  75% {
    height: 21px;
    width: 21px;
    border: 2px solid rgb(255, 240, 240);
    background-color: rgb(255, 240, 240);
  }
  100% {
    height: 23px;
    width: 23px;
    border: 2px solid rgb(249, 213, 213);
    background-color: rgb(249, 213, 213);
  }
}
.home__indicator--1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10px;
  width: 10px;
  border: 2px solid red;
  background-color: red;
  border-radius: 100%;
  margin: 0.1rem;
  padding: 0.1rem;
}
.home__indicator--2 {
  height: 10px;
  width: 10px;
  border: 2px solid rgb(204, 204, 0);
  background-color: rgb(204, 204, 0);
  border-radius: 100%;
  margin: 0.1rem 1rem 0.1rem 1rem;
  padding: 0.1rem;
}
.home__indicator--3 {
  height: 10px;
  width: 10px;
  border: 2px solid green;
  background-color: green;
  border-radius: 100%;
  margin: 0.1rem;
  padding: 0.1rem;
}
.home__indicator__1--1 {
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#power--off {
  background-color: rgb(247, 222, 222);
}
#power--on {
  background-color: red;
  box-shadow: red 0px 0px 7px 0px;
}

#connectAndThreat--off {
  background-color: rgb(250, 250, 224);
}
#connectAndThreat--t {
  animation: connectAndThreat--blink 1s infinite;
}
@keyframes connectAndThreat--blink {
  0% {
    background-color: red;
    box-shadow: red 0px 0px 7px 0px;
    border: 2px solid red;
  }
  25% {
    background-color: white;
    box-shadow: white 0px 0px 7px 0px;
    border: 2px solid white;
  }
  50% {
    background-color: red;
    box-shadow: red 0px 0px 7px 0px;
    border: 2px solid red;
  }
  75% {
    background-color: white;
    box-shadow: white 0px 0px 7px 0px;
    border: 2px solid white;
  }
  100% {
    background-color: red;
    box-shadow: red 0px 0px 7px 0px;
    border: 2px solid red;
  }
}
#connectAndThreat--ok {
  background-color: rgb(204, 204, 0);
  box-shadow: rgb(204, 204, 0) 0px 0px 7px 0px;
}
#load--off {
  background-color: rgb(213, 235, 213);
}
#load--on {
  animation: load--blink 0.5s infinite;
}
@keyframes load--blink {
  0% {
    background-color: green;
    box-shadow: green 0px 0px 7px 0px;
    border: 2px solid green;
  }
  25% {
    background-color: white;
    box-shadow: white 0px 0px 7px 0px;
  }
  50% {
    background-color: green;
    box-shadow: green 0px 0px 7px 0px;
    border: 2px solid green;
  }
  75% {
    background-color: white;
    box-shadow: white 0px 0px 7px 0px;
  }
  100% {
    background-color: white;
    box-shadow: white 0px 0px 7px 0px;
  }
}
