@import url("https://fonts.googleapis.com/css2?family=Silkscreen&display=swap");
.home {
  background-image: url("../wall.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
.home__heading {
  height: 10%;
  color: rgb(68, 68, 78);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home__heading > h1 {
  margin: 0.1rem;
  padding: 0.1rem;
}
.home > img {
  height: 90%;
}
.home__display {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 9rem;
  left: 35%;
  text-align: center;
}
.home__display > h6 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: greenyellow;
  height: 5rem;
  width: 22rem;
  font-size: 50px;
  font-family: "Silkscreen", sans-serif;
}
.home__indicator {
  position: absolute;
  top: 18rem;
  left: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home__indicator--1 {
  height: 6px;
  width: 6px;
  border: 2px solid red;
  background-color: red;
  border-radius: 100%;
  margin: 0.1rem;
  padding: 0.1rem;
}
.home__indicator--2 {
  height: 6px;
  width: 6px;
  border: 2px solid yellow;
  background-color: yellow;
  border-radius: 100%;
  margin: 0.1rem 1rem 0.1rem 1rem;
  padding: 0.1rem;
}
.home__indicator--3 {
  height: 6px;
  width: 6px;
  border: 2px solid green;
  background-color: green;
  border-radius: 100%;
  margin: 0.1rem;
  padding: 0.1rem;
}
