.userInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(212, 212, 212);
  box-shadow: 0 0 4px 2px rgb(212, 212, 212);
  margin: 0.1rem;
  padding: 0.1rem;
  border-radius: 0.1rem;
  width: 38vw;
  height: 43vh;
}
